*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
}

:root {
    font-size: 62.5%;
    --csm_black: #1c2321;
    --csm_purple: #af69f0;
    --csm_white: #fffafb;
    --csm_red: #e8565c;
    --csm_yellow: #faa916;
    --csm_green: #c8e9a0;
    --csm_blue: #5aa9e6;
    --csm_dropshadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.25);
}

* {
    toutline: 1px solid red !important;
} 

/* Flexbox layout */

html, body {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: fit-content;
}

main {
    flex: auto;
    margin: 0 auto;
    max-width: 1440px;
}

footer {
    height: fit-content;
}

body {
    margin: 0;
    font-size: 1.5rem;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: var(--csm_white);
}

button, body, #send {
    text-transform: uppercase;
}

nav, footer {
    justify-content: center;
    align-items: center;
}

section {
    margin: 248px 100px 100px;
}

nav, section, footer {
    display: grid;
    grid-template-columns: repeat(12, 103px);
    row-gap: 24px;
}

h1 {
    font-size: 12.8rem;
    font-weight: 300;
}

h2 {
    text-transform: none;
    font-weight: 500;
}

a {
    text-decoration: none;
}

p, .our_policies bold {
    line-height: 140%; /* 21px */
    letter-spacing: 3px;
    text-align: justify;
}

bold {
    font-weight: 800;
}

button, .menu_icon, #send {
    padding: 20px 0px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--csm_black);
    border-width: 0px;
    box-shadow: var(--csm_dropshadow);
}

button a, #send {
    color: var(--csm_yellow);
    padding: 20px 28px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.purple_text {
    color: var(--csm_purple);
}

.red_text {
    color: var(--csm_red);
}

.yellow_text {
    color: var(--csm_yellow);
}

#cookies_button {
    width: 40px;
    height: 40px;
    padding: 0px;
    cursor: pointer;
    z-index: 99;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 30px;
    right: 40px;
    justify-content: center;
    align-items: center;
}

/* footer */

footer {
    background-color: var(--csm_black);
    padding: 48px 0px;
    color: var(--csm_white);
}

footer a {
    color: var(--csm_white);
    grid-column-start: 2;
    grid-column-end: span 2;
}

footer ul {
    grid-column-start: 5;
    grid-column-end: span 2;
}

footer ul li{
    line-height: 180%; 
    letter-spacing: 3px;
}

footer div {
    grid-column-start: 8;
    grid-column-end: span 5;
}

.newsletter_signup{
    color: var(--CSM-White, #FFFAFB);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 16px;
    background-color: var(--csm_black);
    border: 2px solid var(--csm_purple);
    border-radius: 10px;
    width: 400px;
    position: relative;
    left: -18px;
    z-index: 2;
}

.newsletter_button {
    height: 49px;
    width: 50px;
    background-color: var(--csm_purple);
    border-radius: 10px;
    border: 2px solid var(--csm_purple);
    position: relative;
    left: -38px;
    top: 22px;
    z-index: 1;
}

.newsletter_button_icon {
    position: relative;
    z-index: 3;
    top: -37px;
    left: 431px;
    color: var(--csm_black);
    font-size: 2rem;
}

/* nav */

.menu_dropdown:target {
    display: flex;
    flex-direction: column;
}

.menu_dropdown {
    display: none;
    background-color: var(--csm_purple);
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 120%;
    padding: 20px;
    max-width: 380px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: var(--csm_dropshadow);
}

.menu_icon {
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: var(--csm_purple);
    color: var(--csm_black);
    cursor: pointer;
    z-index: 99;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.menu_dropdown, .menu_icon {
    position: fixed;
    top: 30px;
    right: 100px;
}


.menu_dropdown a {
    color: var(--csm_white);
}

.menu_dropdown a:hover {
    text-decoration: underline;
}

.nav_active a{
    text-decoration: underline;
}

nav {
    height: 100px;
    position: fixed;
    width: 100vw;
    background-color: var(--csm_white);
    z-index: 10;
}

nav div {
    display: inline-flex;
    align-items: center;
}

nav div i {
    margin-right: 12px;
    font-size: 2rem;
}

.nav_public {
    grid-column-start: 5;
    grid-column-end: span 2;
}

.nav_time {
    grid-column-start: 7;
    grid-column-end: span 3;
}

.nav_weather {
    grid-column-start: 10;
    grid-column-end: span 2;
}

nav a {
    grid-column-end: span 3;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--csm_black);
}
nav a bold, footer a bold {
    font-size: 4.8rem;
    font-weight: 600;
}

/* generic cards */

.base_card_container {
    height: fit-content;
    width: 324px;
    padding: 32px;
    background-color: var(--csm_purple);
    border-radius: 10px;
}

.base_card_container img{
    width: 324px;
    height: 212px;
    object-fit: cover;
    margin-bottom: 24px;

}

/* home page */

.opening_section {
    min-height: 90vh;
    align-content: center;
    margin: 100px;
}

.opening_section bold{
    color: var(--csm_purple);
}

.opening_section div{
    grid-template-columns: repeat(5, 103px);
    grid-column-end: span 5;
    grid-column-start: 1;
}

.opening_section img {
    position: absolute;
    z-index: -1;
    align-self: center;
    justify-self: flex-end;
}

.header_cta {
    margin-top: 48px;
    display: flex;
    align-items: center;
    column-gap: 138px;
}

.goals_home_section div {
    grid-column-end: span 6;
    grid-column-start: 7;
    margin: 48px;
}

.goals_home_section div button {
    margin-top: 48px;
}

.goals_home_section h1 {
    text-align: right;
    grid-column-end: span 12;
}

.goals_home_section bold {
    color: var(--csm_red);
}

.goals_home_section img {
    position: absolute;
    z-index: -1;
    height: 852px;
    left: -20%;
}

/* set left to 0px for everything above 1440 wide
.goals_home_section img {
    position: absolute;
    z-index: -1;
    height: 852px;
    left: -20%;
}
*/

.goals_home_section {
    max-height: 874px;
    row-gap: 0px;
}

#goals_home_background_color {
    position: absolute;
    background-color: var(--csm_yellow);
    height: 540px;
    width: 100%;
    margin: 0px;
    left: 0px;
    z-index: -2;
    align-self: flex-end;
}

.explore_home_section div{
    grid-column-end: span 4;
}

.explore_home_section div p, .explore_home_section div button, .exhibition_card_container p, .exhibition_card_container button{
    margin-top: 24px;
}

.young_explorers {
    grid-column-start: 1;
}

.leading_educators {
    grid-column-start: 5;
    justify-self: center;
    background-color: var(--csm_red);
}

.bright_minds {
    grid-column-start: 9;
    justify-self: flex-end;
    background-color: var(--csm_yellow);
}

.home_funfact {
    background-color: var(--csm_black);
    padding: 48px 100px;
    margin: 0px;
}

.home_funfact p {
    color: var(--csm_purple);
    grid-column-end: span 12;
}

.home_funfact bold {
    color: var(--csm_red);
}

.home_funfact_heading {
    position: relative;
    top: 15px;
    left: 100px;
    color: var(--csm_black);
    font-size: 56px;
    font-weight: 700;
    grid-column-end: span 3;
    z-index: -1;
}

/* exhibitions */

#exhibition_tablet_photo {
    display: none;
}

.exhibition_container {
    position: relative;
}

.exhibition_card_container {
    width: 556px;
    padding: 64px;
}

.exhibition_container img{
    position: absolute;
    top: 0;
    right: -516px;
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    z-index: -1;
}

.exhibition_spaces div{
    grid-column-end: span 7;
}

.exhibition_spaces h1{
    margin-bottom: 48px;
    grid-column-end: span 12;
}

.yellow_card {
    background-color: var(--csm_yellow);
}

.red_card {
    background-color: var(--csm_red);
}

.blue_card {
    background-color: var(--csm_blue);
}

.green_card {
    background-color: var(--csm_green);
}

/* news */

#news_categories {
    display: flex;
    grid-column-end: span 6;
    grid-column-start: 5;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 28px;
}

#news_categories input {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.news_tag2 {
    flex-basis: 63%;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 8px;
    cursor: pointer;
} 

.checkmark {
    position: absolute;
    top: -4px;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.checkmark_purple {
    background-color: #eee;
}

.container input:checked ~ .checkmark_purple {
    background-color: var(--csm_purple);
}

.checkmark_yellow {
    background-color: #eee;
}

.container input:checked ~ .checkmark_yellow {
    background-color: var(--csm_yellow);
}

.checkmark_red {
    background-color: #eee;
}

.container input:checked ~ .checkmark_red {
    background-color: var(--csm_red);
}

.checkmark_blue {
    background-color: #eee;
}

.container input:checked ~ .checkmark_blue {
    background-color: var(--csm_blue);
}

.checkmark_green {
    background-color: #eee;
}

.container input:checked ~ .checkmark_green {
    background-color: var(--csm_green);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 11px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid var(--csm_black);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* get involved */

.get_involved_section p, .get_involved_section h1, .our_policies p, .our_policies h1, .our_policies ul{
    grid-column-end: span 12;
}

.get_involved_section h1{
    text-align: center;
}

.contact_us_section {
    margin-top: 0px;
    justify-content: center;
    overflow: clip;
}

.contact_form {
    display: grid;
    grid-template-columns: repeat(8, 103px);
    grid-column-start: 3;
    row-gap: 48px;
    grid-column-end: span 8;
}

.contact_form p, .contact_form h1 {
    grid-column-end: span 8;
    justify-content: center;
}

.contact_form_fields {
    display: flex;
    flex-wrap: wrap;
    grid-column-end: span 8;
    row-gap: 24px;
    justify-content: space-between;
}

#firstname, #lastname, #email, #subject {
    flex-basis: 44%;
}

#firstname, #lastname, #email, #subject, #message {
    padding: 20px;
    color: var(--csm_black);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 16px;
    background-color: var(--csm_white);
    border: 2px solid var(--csm_purple);
    border-radius: 10px;
}

#message {
    flex-basis: 100%;
    resize: vertical;
    border: 2px solid var(--csm_red);
}

#send {
    margin: auto;
}

/* the museum */

.the_museum_info h1{
    grid-column-end: span 12;
    text-align: center;
}

.the_museum_flex_info {
    display: grid;
    grid-template-columns: repeat(4, 103px);
    grid-column-start: 3;
    row-gap: 28px;
    grid-column-end: span 4;
}

.the_museum_flex_info div{
    display: grid;
    grid-template-columns: repeat(3, 103px);
    grid-column-end: span 3;
}

.the_museum_flex_info div i{
    justify-self: center;
    font-size: 2.4rem;
}

.the_museum_time {
    width: 134px;
}

.the_museum_phone, .the_museum_adress {
    grid-column-end: span 2;
}

.museum_time, .fa-location-dot {
    padding-top: 10px;
}

.pratical_info p {
    
    grid-column-start: 3;
    grid-column-end: span 8;
}

.fa-square, .fa-play, .fa-circle {
    position: absolute;
    font-size: 40rem;
}

.fa-square {
    color: var(--csm_purple);
    top: -30px;
    left: -70px;
    transform: rotate(45deg);
}

.fa-play {
    color: var(--csm_yellow);
    top: 2120px;
    left: -70px;
    transform: rotate(80deg);
}

.fa-circle {
    color: var(--csm_red);
    top: 800px;
    right: -200px;
}

/* our policies */

.our_policies li{
    line-height: 140%; /* 21px */
    letter-spacing: 3px;
}

.our_policies *, .our_policies ul li {
    grid-column-end: span 12;
    list-style-type: inherit;
}

.our_policies h1 {
    text-align: left;
}

/* news article */

.color_overlay_news {
    position: absolute;
    left: 0px;
    top: 0px;
    background-blend-mode: screen, color, normal;
    height: 80vh;
    width: 100vw;
    z-index: -1;
}

.purple_img {
    background: linear-gradient(0deg, rgba(175, 105, 240, 0.70) 0%, rgba(175, 105, 240, 0.70) 100%), linear-gradient(0deg, var(--CSM-Purple, #AF69F0) 0%, var(--CSM-Purple, #AF69F0) 100%), url(../images/museum_overview.jpg) lightgray 50% / cover no-repeat;
}

.yellow_img {
    background: linear-gradient(0deg, rgba(250, 169, 22, 0.70) 0%, rgba(250, 169, 22, 0.70) 100%), linear-gradient(0deg, var(--CSM-Yellow, #FAA916) 0%, var(--CSM-Yellow, #FAA916) 100%), url(../images/bottom_floor.jpg) lightgray 50% / cover no-repeat;
}

.red_img {
    background: linear-gradient(0deg, rgba(232, 86, 92, 0.70) 0%, rgba(232, 86, 92, 0.70) 100%), linear-gradient(0deg, var(--CSM-Red, #E8565C) 0%, var(--CSM-Red, #E8565C) 100%), url(../images/abstract_energy.jpg) lightgray 50% / cover no-repeat;
}

.news_article_header h1, .news_article_header p{
    position: relative;
    grid-column-end: span 12;
}

.news_article_header {
    row-gap: 0px;
    margin: 47.5vh 100px 100px;
}

.news_article_bodytext {
    margin: 100px;
}

.news_article_bodytext p {
    grid-column-end: span 8;
}

.news_article_bodytext div {
    grid-column-start: 10;
    grid-column-end: span 3;
    grid-template-columns: repeat(3, 103px);
}

.news_article_person_of_interest img {
    object-fit: cover;
    width: 310px;
    height: 400px;
    margin-bottom: 20px;
}

/* exhibition spaces */

.hero_img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.exhibition_space_hero {
    position: absolute;
    background-blend-mode: screen, color, normal;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.exhibition_space_cards {
    margin-top: -228px;
    justify-items: center;
}

.exhibition_space_cards div {
    grid-column-end: span 4;
    padding-bottom: 22px;
}

.exhibition_space_cards div *{
    margin-bottom: 10px;
}

.exhibition_space_header {
    height: 100vh;
    grid-template-rows: auto 1fr;
}

.exhibition_space_header h1{
    grid-column-end: span 9;
}

.exhibition_space_header p{
    grid-column-end: span 6;
    height: min-content;
}

.cosmology_header {
    background: linear-gradient(0deg, rgba(175, 105, 240, 0.70) 0%, rgba(175, 105, 240, 0.70) 100%), linear-gradient(0deg, var(--csm_purple, #af69f0) 0%, var(--csm_purple, #af69f0) 100%), url(../images/moon_phases.jpg) lightgray 50% / cover no-repeat;
}

.cosmology_card {
    background-color: var(--csm_purple); 
}

.evolution_header {
    background: linear-gradient(0deg, rgba(250, 169, 22, 0.70) 0%, rgba(250, 169, 22, 0.70) 100%), linear-gradient(0deg, var(--CSM-Yellow, #faa916) 0%, var(--CSM-Yellow, #faa916) 100%), url(../images/skeletons.jpg) lightgray 50% / cover no-repeat;
}

.evolution_card {
    background-color: var(--csm_yellow); 
}

.biology_header {
    background: linear-gradient(0deg, rgba(232, 86, 92, 0.70) 0%, rgba(232, 86, 92, 0.70) 100%), linear-gradient(0deg, var(--CSM-Red, #E8565C) 0%, var(--CSM-Red, #E8565C) 100%), url(../images/heart_figure.jpg) lightgray 50% / cover no-repeat;
}

.biology_card {
    background-color: var(--csm_red); 
}

.robotics_header {
    background: linear-gradient(0deg, rgba(90, 169, 230, 0.70) 0%, rgba(90, 169, 230, 0.70) 100%), linear-gradient(0deg, var(--csm_blue, #5AA9E6) 0%, var(--csm_blue, #5AA9E6) 100%), url(../images/teenager_vr_painting.jpg) lightgray 50% / cover no-repeat;
}

.robotics_card {
    background-color: var(--csm_blue); 
}

.ecology_header {
    background: linear-gradient(0deg, rgba(200, 233, 160, 0.70) 0%, rgba(200, 233, 160, 0.70) 100%), linear-gradient(0deg, var(--csm_green, #C8E9A0) 0%, var(--csm_green, #C8E9A0) 100%), url(../images/teenager_microscope.jpg) lightgray 50% / cover no-repeat;
}

.ecology_card {
    background-color: var(--csm_green); 
}

/* Tablet */

@media (max-width: 1435px) {

    main {
        max-width: 834px;
    }

    section {
        margin: 248px 40px 40px;
    }
    
    nav, section, footer {
        display: grid;
        grid-template-columns: repeat(8, 94px);
        row-gap: 24px;
    }

    h1 {
        font-size: 9.6rem;
    }

    .nav_public {
        display: none;
    }

    .nav_time {
        position: relative;
        grid-column-start: 5;
        left: -50px;
    }
    
    .nav_weather {
        display: none;
    }

    .menu_dropdown, .menu_icon {
        right: 100px;
    }

    #cookies_button {
        right: 40px;
    }

    nav, footer {
        justify-items: center;
    }

    footer div {
        grid-column-start: 1;
        grid-column-end: span 8;
    }

    footer div p {
        position: relative;
        left: 16px;
    }

    .newsletter_signup {
        left: 0px;
        z-index: 2;
    }

    .newsletter_button {
        left: -20px;
        top: 22px;
    }

    .newsletter_button_icon {
        position: relative;
        z-index: 3;
        top: 1px;
        left: -61px;
        color: var(--csm_black);
        font-size: 2rem;
    }

    /* home */

    
    .opening_section {
        min-height: 90vh;
        margin: 40px;
    }

    .opening_section div{
        grid-template-columns: repeat(4, 94px);
        grid-column-end: span 4;
    }

    .header_cta {
        column-gap: 17px;
    }

    .opening_section img {
        right: 3vw;
        height: 448px;
        width: auto;
    }

    .goals_home_section {
        max-height: 835px;
        row-gap: 96px;
        margin-top: 350px;
    }

    .goals_home_section h1 {
        grid-column-end: span 8;
        position: relative;
        top: -250px;
    }

    .goals_home_section img {
        position: absolute;
        z-index: -1;
        height: 835px;
        width: 100%;
        object-fit: cover;
        left: -20%;
    }

    .goals_home_section div {
        display: flex;
        grid-column-end: span 6;
        grid-column-start: 3;
        margin: 0px;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
        top: -250px;
    }

    #goals_home_background_color {
        height: 835px;
        align-self: auto;
        top: auto;
    }

    .explore_home_section div {
        grid-column-end: span 8;
    }

    .base_card_container {
        width: fit-content;
    }

    .leading_educators {
        grid-column-start: 1;
    }

    .bright_minds {
        grid-column-start: 1;
    }

    .home_funfact_heading {
        left: 40px;
    }

    .home_funfact {
        padding: 40px;
    }

    .home_funfact p {
        grid-column-end: span 8;
    }

    .explore_home_section {
        margin-top: 100px;
    }

    .base_card_container img {
        width: 100%;
    }

    /* exhibiton spaces */

    .exhibition_spaces h1 {
        grid-column-end: span 8;
    }

    .exhibition_container img {
        display: none;
    }

    .exhibition_spaces div {
        grid-column-end: span 8;
    }

    .exhibition_card_container {
        padding: 40px;
    }

    #exhibition_tablet_photo {
        display: block;
        position: static;
        width: 100%;
        height: 300px;
        border-radius: 0px;
        margin: 24px 0px 0px;
    }
}

/* Mobile */

@media (max-width: 834px) {


}